<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add/Edit Doctor</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>

    <body>
        <h2 th:text="${doctor.id == null} ? 'Add Doctor' : 'Edit Doctor' "></h2>
        <form th:action="@{/doctors}" th:object="${doctor}" method="post">
            <label>Name:</label>
            <input type="text" th:field="*{name}" required/><br/>
            <label>Specialization:</label>
            <input type="text" th:field="*{specialization}" required/><br/>
            <label>Contact:</label>
            <input type="text" th:field="*{contact}" required/><br/>
            <label>Email:</label>
            <input type="text" th:field="*{email}" required/><br/>
            <button type="submit">Save</button>
        </form>

    </body>
</html>