<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Doctor List</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>

    <body>
        <h2>Doctor List</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Specialization</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Actions</th>

            </tr>
            <tr th:each="doctor : ${doctors}">
                <td th:text="${doctor.id}"></td>
                <td th:text="${doctor.name}"></td>
                <td th:text="${doctor.specialization}"></td>
                <td th:text="${doctor.contact}"></td>
                <td th:text="${doctor.email}"></td>
                <td><a th:href="@{/doctors/edit/{id}(id=${doctor.id})}">Edit</a>
                    <a th:href="@{/doctors/delete/{id}(id=${doctor.id})}">Delete</a>
                </td>
                    
            </tr>
        </table>

        <a th:href="@{/doctors/new}">Add New Doctor</a>
    </body>
</html>"